In [81]:
import pandas as pd

# Load the dataset
df = pd.read_csv('file.csv')

In [82]:
df.head()

,Date,Title,Full Text,Sentiment,Emotion,Region,Account Type,Author,City,Full Name,...,Mentioned Authors,Priority,Professions,Tags,Total Monthly Visitors,Twitter Author ID,Twitter Followers,Twitter Following,Twitter Tweets,Reach (new)
0,2022-07-19 16:47:28.000,RT @HMureithi @Kenyans This is too low for a m...,RT @HMureithi @Kenyans This is too low for a m...,negative,NaN,NaN,individual,mngesa,NaN,mngesa (sir ali),...,"@hmureithi, @kenyans",NaN,NaN,#MamaMbogaMoment,1414667000,1.342399e+08,32,159,462,0
1,2022-07-10 16:21:50.000,RT @kilundeezy A good reminder @OleItumbi pa...,RT @kilundeezy A good reminder @OleItumbi pay ...,neutral,NaN,Nairobi,individual,Olang_Moses,Nairobi,Olang_Moses (MACHIAVELLIAN),...,"@oleitumbi, @williamsruto",NaN,NaN,#MamaMbogaMoment,1414667000,4.083459e+09,21114,15120,157903,7602
2,2022-07-10 14:36:50.000,RT @kilundeezy A good reminder @OleItumbi pa...,RT @kilundeezy A good reminder @OleItumbi pay ...,neutral,NaN,Nairobi,individual,CaesarToreto,Nairobi,CaesarToreto (Czar),...,"@oleitumbi, @williamsruto",NaN,Sales/Marketing/PR (Digital Media Strategist),#MamaMbogaMoment,1414667000,1.357592e+18,10073,1209,32910,4958
3,2022-07-09 15:45:27.000,RT @kilundeezy A good reminder @OleItumbi pa...,RT @kilundeezy A good reminder @OleItumbi pay ...,neutral,NaN,Nairobi,organisational,kirubimuigai,Nairobi,kirubimuigai (Sports IHub),...,"@oleitumbi, @williamsruto",NaN,NaN,#MamaMbogaMoment,1414667000,7.296242e+17,221,34,8326,0
4,2022-07-09 12:34:16.000,RT @kilundeezy A good reminder @OleItumbi pa...,RT @kilundeezy A good reminder @OleItumbi pay ...,neutral,NaN,Rift Valley,individual,125__iconic,Kericho,125__iconic (yusufu),...,"@oleitumbi, @williamsruto",NaN,NaN,#MamaMbogaMoment,1414667000,1.533716e+18,342,183,1705,0

In [83]:
# Ensure 'Tags' column values are strings
df['Tags'] = df['Tags'].astype(str)

# Define the list of keywords/phrases to search for
keywords = ['Paybill', 'Buy Airtime']

# Function to check if any keyword is in the Tags column
def contains_keywords(tags):
    return any(keyword.lower() in tags.lower() for keyword in keywords)

# Filter out rows that contain any of the keywords in the Tags column
df = df[~df['Tags'].apply(contains_keywords)]

# # Save the cleaned dataset to a CSV file
# df.to_csv('cleaned_dataset.csv', index=False)

In [84]:
df.isnull().sum()

Date                         0
Title                        0
Full Text                    0
Sentiment                    0
Emotion                   1261
Region                     263
Account Type                 1
Author                       0
City                       300
Full Name                    0
Gender                      59
Hashtags                     1
Impact                       0
Impressions                  0
Interest                  1148
Mentioned Authors          931
Priority                  2326
Professions               1812
Tags                         0
Total Monthly Visitors       0
Twitter Author ID            1
Twitter Followers            0
Twitter Following            0
Twitter Tweets               0
Reach (new)                  0
dtype: int64

In [85]:
# Drop columns with no values
columns_to_drop = ['Priority', 'Emotion', 'City', 'Region', 'Interest', 'Professions']
df = df.drop(columns=columns_to_drop)

# Drop rows with any NaN values
df = df.dropna()

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1364 entries, 0 to 2394
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1364 non-null   object
 1   Title                   1364 non-null   object
 2   Full Text               1364 non-null   object
 3   Sentiment               1364 non-null   object
 4   Account Type            1364 non-null   object
 5   Author                  1364 non-null   object
 6   Full Name               1364 non-null   object
 7   Gender                  1364 non-null   object
 8   Hashtags                1364 non-null   object
 9   Impact                  1364 non-null   float64
 10  Impressions             1364 non-null   int64
 11  Mentioned Authors       1364 non-null   object
 12  Tags                    1364 non-null   object
 13  Total Monthly Visitors  1364 non-null   int64
 14  Twitter Author ID       1364 non-null   float64
 15  Twitter Followers       1364 non-null   int64
 16  Twitter Following       1364 non-null   int64
 17  Twitter Tweets          1364 non-null   int64
 18  Reach (new)             1364 non-null   int64
dtypes: float64(2), int64(6), object(11)
memory usage: 213.1+ KB

In [87]:
df.duplicated().sum()

0

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1364 entries, 0 to 2394
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1364 non-null   object
 1   Title                   1364 non-null   object
 2   Full Text               1364 non-null   object
 3   Sentiment               1364 non-null   object
 4   Account Type            1364 non-null   object
 5   Author                  1364 non-null   object
 6   Full Name               1364 non-null   object
 7   Gender                  1364 non-null   object
 8   Hashtags                1364 non-null   object
 9   Impact                  1364 non-null   float64
 10  Impressions             1364 non-null   int64
 11  Mentioned Authors       1364 non-null   object
 12  Tags                    1364 non-null   object
 13  Total Monthly Visitors  1364 non-null   int64
 14  Twitter Author ID       1364 non-null   float64
 15  Twitter Followers       1364 non-null   int64
 16  Twitter Following       1364 non-null   int64
 17  Twitter Tweets          1364 non-null   int64
 18  Reach (new)             1364 non-null   int64
dtypes: float64(2), int64(6), object(11)
memory usage: 213.1+ KB

In [89]:
df.Tags.value_counts()

Tags
#MamaMbogaMoment    1364
Name: count, dtype: int64

In [90]:
# # Convert columns to appropriate data types
# df['Impact'] = df['Impact'].fillna(0).astype(float)
# df['Impressions'] = df['Impressions'].fillna(0).astype(int)
# df['Total Monthly Visitors'] = df['Total Monthly Visitors'].fillna(0).astype('int64')  # long in Gephi
# df['Twitter Author ID'] = df['Twitter Author ID'].fillna(0).astype('int64')  # long in Gephi
# df['Twitter Followers'] = df['Twitter Followers'].fillna(0).astype(int)
# df['Twitter Following'] = df['Twitter Following'].fillna(0).astype(int)
# df['Twitter Tweets'] = df['Twitter Tweets'].fillna(0).astype(int)
# df['Reach (new)'] = df['Reach (new)'].fillna(0).astype(int)

# # Split stringlist columns
# df['Mentioned Authors'] = df['Mentioned Authors'].apply(lambda x: x.split(', ') if pd.notna(x) else [])
# df['Tags'] = df['Tags'].apply(lambda x: x.split(', ') if pd.notna(x) else [])

# # Extract unique nodes
# nodes = df[['Twitter Author ID', 'Author', 'Sentiment', 'Account Type',
#             'Gender', 'Impact', 'Impressions', 'Total Monthly Visitors', 'Twitter Followers', 
#             'Twitter Following', 'Twitter Tweets', 'Reach (new)']].drop_duplicates()

# # Rename columns for nodes
# nodes = nodes.rename(columns={
#     'Twitter Author ID': 'Id',
#     'Author': 'Label'
# })

# # Extract edges
# edges = df.explode('Mentioned Authors')[['Twitter Author ID', 'Mentioned Authors', 'Date', 'Hashtags', 'Impact', 'Impressions', 'Twitter Followers', 'Twitter Following', 'Twitter Tweets', 'Reach (new)']]
# edges = edges.rename(columns={
#     'Twitter Author ID': 'Source',
#     'Mentioned Authors': 'Target',
#     'Date': 'Date',
#     'Hashtags': 'Hashtags'
# })

# # Save nodes and edges to CSV for Gephi
# nodes.to_csv('nodes.csv', index=False)
# edges.to_csv('edges.csv', index=False)

In [91]:
# # Convert columns to appropriate data types
# df['Impact'] = df['Impact'].fillna(0).astype(float)
# df['Impressions'] = df['Impressions'].fillna(0).astype(int)
# df['Total Monthly Visitors'] = df['Total Monthly Visitors'].fillna(0).astype('int64')  # long in Gephi
# df['Twitter Author ID'] = df['Twitter Author ID'].fillna(0).astype('int64')  # long in Gephi
# df['Twitter Followers'] = df['Twitter Followers'].fillna(0).astype(int)
# df['Twitter Following'] = df['Twitter Following'].fillna(0).astype(int)
# df['Twitter Tweets'] = df['Twitter Tweets'].fillna(0).astype(int)
# df['Reach (new)'] = df['Reach (new)'].fillna(0).astype(int)

# # Split stringlist columns
# df['Mentioned Authors'] = df['Mentioned Authors'].apply(lambda x: x.split(', ') if pd.notna(x) else [])
# df['Tags'] = df['Tags'].apply(lambda x: x.split(', ') if pd.notna(x) else [])

# # Extract unique nodes
# nodes = df[['Twitter Author ID', 'Author']].drop_duplicates()

# # Rename columns for nodes
# nodes = nodes.rename(columns={
#     'Twitter Author ID': 'Id',
#     'Author': 'Label'
# })

# # Extract edges
# edges = df.explode('Mentioned Authors')[['Twitter Author ID', 'Mentioned Authors']]
# edges = edges.rename(columns={
#     'Twitter Author ID': 'Source',
#     'Mentioned Authors': 'Target'
# })


# # Save nodes and edges to CSV for Gephi
# nodes.to_csv('nodes1.csv', index=False)
# edges.to_csv('edges1.csv', index=False)

In [92]:
# Convert columns to appropriate data types
df['Impact'] = df['Impact'].fillna(0).astype(float)
df['Impressions'] = df['Impressions'].fillna(0).astype(int)
df['Total Monthly Visitors'] = df['Total Monthly Visitors'].fillna(0).astype('int64')  # long in Gephi
df['Twitter Author ID'] = df['Twitter Author ID'].fillna(0).astype('int64')  # long in Gephi
df['Twitter Followers'] = df['Twitter Followers'].fillna(0).astype(int)
df['Twitter Following'] = df['Twitter Following'].fillna(0).astype(int)
df['Twitter Tweets'] = df['Twitter Tweets'].fillna(0).astype(int)
df['Reach (new)'] = df['Reach (new)'].fillna(0).astype(int)

# Split stringlist columns
df['Mentioned Authors'] = df['Mentioned Authors'].apply(lambda x: x.split(', ') if pd.notna(x) else [])

# Extract unique nodes
nodes = df[['Twitter Author ID', 'Author']].drop_duplicates()

# Rename columns for nodes
nodes = nodes.rename(columns={
    'Twitter Author ID': 'Id',
    'Author': 'Label'
})

# Extract edges
edges = df.explode('Mentioned Authors')[['Twitter Author ID', 'Mentioned Authors']]
edges = edges.rename(columns={
    'Twitter Author ID': 'Source',
    'Mentioned Authors': 'Target'
})


# Identify missing nodes
existing_nodes = df['Twitter Author ID'].unique()
mentioned_nodes = edges['Target'].unique()
missing_nodes = set(mentioned_nodes) - set(existing_nodes)

# Create DataFrame for missing nodes
missing_nodes_df = pd.DataFrame(list(missing_nodes), columns=['Id'])
missing_nodes_df['Label'] = missing_nodes_df['Id']  # Assuming the label is the same as the ID for these nodes

# Extract nodes from the dataset
nodes = df[['Twitter Author ID', 'Author']].drop_duplicates()
nodes = nodes.rename(columns={'Twitter Author ID': 'Id', 'Author': 'Label'})

# Combine existing nodes with missing nodes
nodes = pd.concat([nodes, missing_nodes_df], ignore_index=True)

# Save nodes and edges to CSV for Gephi
nodes.to_csv('nodes2.csv', index=False)
edges.to_csv('edges2.csv', index=False)

# Save the cleaned dataset
df.to_csv('cleaned_dataset.csv', index=False)

In [93]:
# nodes = pd.read_csv("nodes.csv")
# nodes.head()

In [94]:
# nodes.duplicated().sum()

In [95]:
# nodes1 = pd.read_csv("nodes1.csv")
# nodes1.head()

In [96]:
nodes2 = pd.read_csv("nodes2.csv")
nodes2.head()

                    Id         Label
0            134239948        mngesa
1           4083458907   Olang_Moses
2  1357591577925935104  CaesarToreto
3  1533716420772646912   125__iconic
4  1088085142994935808      OCHI_RAS

In [97]:
nodes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946 entries, 0 to 945
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      946 non-null    object
 1   Label   946 non-null    object
dtypes: object(2)
memory usage: 14.9+ KB

In [98]:
nodes2.Id.duplicated().sum()

5

In [99]:
# Drop duplicates based on 'TwitterAuthorID' column
nodes2.drop_duplicates(subset='Id', inplace=True)

In [100]:
nodes2.Id.duplicated().sum()

0

In [101]:
nodes2.to_csv('nodes2.csv', index = False)

In [102]:
# nodes1.Id.duplicated().sum()

In [103]:
# # Drop duplicates based on 'TwitterAuthorID' column
# nodes1.drop_duplicates(subset='Id', inplace=True)

In [104]:
# nodes1.Id.duplicated().sum()

In [105]:
# nodes1.to_csv('nodes1.csv', index = False)

In [106]:
# edges1 = pd.read_csv("edges1.csv")
# edges1.head()

In [107]:
# edges.duplicated().sum()

In [108]:
edges2 = pd.read_csv("edges2.csv")
edges2.head()

                Source         Target
0            134239948     @hmureithi
1            134239948       @kenyans
2           4083458907     @oleitumbi
3           4083458907  @williamsruto
4  1357591577925935104     @oleitumbi

In [109]:
edges2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Source  2318 non-null   int64
 1   Target  2318 non-null   object
dtypes: int64(1), object(1)
memory usage: 36.3+ KB

In [110]:
edges2.duplicated().sum()

480

In [111]:
# edges = pd.read_csv("edges.csv")
# edges.head()

In [112]:
# edges.duplicated().sum()